<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Коллекция камней</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    <h1>Коллекция камней</h1>

    <a href="{{ url_for('index') }}" title="На главную">
        <img src="{{ url_for('static', filename='icons/home.png') }}" class="icon">
    </a>

    <a href="{{ url_for('new') }}" title="Добавить">
        <img src="{{ url_for('static', filename='icons/add.png') }}" class="icon">
    </a>    
</header>

{% block content %}
{% endblock %}

</body>
</html>